@import url(http://fonts.googleapis.com/css?family=Molle:400italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400);

a {
text-decoration:none; font:inherit; color:inherit;
}
a:hover {
text-decoration:underline;
}
body,html {
width:100%; height:100%;
}
body {
background:rgb(0,0,0) url(media/bg.jpg) no-repeat 0 0 fixed; background-size:cover; font:300 15px 'Alegreya Sans',sans-serif; color:rgba(255,255,255,0.8);
}

#wrapper {
width:550px; min-height:100px; margin:0 auto; position:relative;
}
	#inner-wrapper {
		position:absolute; left:0; width:100%;
	}
	#header {
	width:500px; margin:0 auto;
	}
		#logo {
		font:400 1.75em 'Molle',cursive; font-style:italic; text-align:center;
		}
			#logo span {
			font:300 1em 'Alegreya Sans';
			}
	#content {
	width:400px; margin:0 auto; margin:15px auto 0 auto; text-align:justify;
	}

.fx-overlay {
position:fixed; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,0.23);
}
